.panel-event-my {
  cursor: pointer;
  transition: all 0.3s ease !important;
  border-radius: 6px !important;
  margin: 0 0 20px 0;
  height: 200px;
  width: 48%;
  background-color: #efefef !important;
  border: 1px solid var(--shadow-color);
}

.panel-event-my:hover {
  background-color: var(--light-blue-color) !important;
  box-shadow: 10px 10px var(--shadow-color);
}

.my-events-panel {
  display: flex;
  flex-direction: row;
  width: 50%;
  height: fit-content;
}

.my-events-btn {
  height: fit-content;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.for-click {
  z-index: 100;
}
